<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN"><!DOCTYPE html>

<html lang="en">
  
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/bootstrap-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>HWelpr</title>
  </head>
  
  <body>

    <div class="container-fluid" style="background-color: #323875">
      <p class="text-center">
	<h1>HWelpr</h1>
      </p>
      <p class="lead">
	The simple, educational, and classy way to get and give help on homework. 
      </p>
      <p class="lead">
	<h4>{{message}}</h4>
      </p>
    </div>

      <div class="container-fluid" style="background-color: #323875">
        <h2>Log In</h2>
        <form role="form" class="form-horizontal" style="max-width:900px;"  method="POST">
          <div class="form-group">
            <p><input type="text" class="form-control" name="logusername" placeholder="Username"></p>
            <p><input type="password" class="form-control" name="logpassword" placeholder="Password"></p>
            <p><input type="submit" name="b" class="btn btn-default" value="Log In">
  	      <input type="submit" name="b" class="btn btn-danger" value="Cancel"></p>
          </div>
	</form>
      </div>
      
      <div class="container-fluid" style="background-color: #323875">
	<h4>Don't have an account?</h4>
        <h2>Sign Up</h2>
        <form role="form" class="form-horizontal" method="POST">
          <div class="form-group">
            <p><input type="text" class="form-control" name="signusername" placeholder="Username"></p>
            <p><input type="password" class="form-control" name="signpassword" placeholder="Password"></p>
	    <p><input type="password" class="form-control" name="signpassword2" placeholder="Confirm Password"></p>
	    <p><input type="text" class="form-control" name="name" placeholder="Name"></p>
            <p><input type="submit" name="b" class="btn btn-default" value="Sign Up">
  	      <input type="submit" name="b" class="btn btn-danger" value="Cancel"></p>
          </div>
	</form>
      </div>
      
  </body>

</html>
