<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN"><!DOCTYPE html>

<html lang="en">
  
  <head>

   <link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/bootstrap-theme.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/bootstrap.css') }}">
   
    <style type="text/css">
      body { background: #ffffff;}
      .text-center { color: #6b00cf;}
    </style>

    <title>HWelpr</title>

  </head>
  
  <body>

     <center> <img src="{{ url_for( 'static',filename='hwelprlogo1.png') }}" alt="HWelper" width=300 height=300></center>
      <h3><p class="text-center">The simple, educational, and classy way to get and give help on homework.</p></h3>
      <h4><p class="text-center">{{message}}</p></h4>


      <div class="container-fluid" style="max-width:400px;">
        <h2><p class="text-center">Log In</p></h2>
        <form role="form" class="form-horizontal" style="max-width:400px;" method="POST">
          <div class="form-group">
            <p class="text-center"><input type="text" class="form-control" name="logusername" placeholder="Username"></p>
            <p class="text-center"><input type="password" class="form-control" name="logpassword" placeholder="Password"></p>
            <p class="text-center"><input type="submit" name="b" class="btn btn-default" value="Log In">
  	      <input type="submit" name="b" class="btn btn-default" value="Cancel"></p>
	    <h4><p class="text-center">Don't have an account?</p></h4>
	    <p class="text-center"><input type="submit" name="b" class="btn btn-default" value="Sign Up">
          </div>
	</form>
      </div>
      
      <div class="container-fluid" style="max-width:400px;">
	<h4><p class="text-center">Don't have an account?</p></h4>
        <h2><p class="text-center">Sign Up</p></h2>
        <form role="form" class="form-horizontal" method="POST">
          <div class="form-group">
            <p class="text-center"><input type="text" class="form-control" name="signusername" placeholder="Username"></p>
            <p class="text-center"><input type="password" class="form-control" name="signpassword" placeholder="Password"></p>
	    <p class="text-center"><input type="password" class="form-control" name="signpassword2" placeholder="Confirm Password"></p>
	    <p class="text-center"><input type="text" class="form-control" name="name" placeholder="Name"></p>
            <p class="text-center"><input type="submit" name="b" class="btn btn-default" value="Sign Up">
  	      <input type="submit" name="b" class="btn btn-default" value="Cancel"></p>
          </div>
	</form>
      </div>
       <script src="{{ url_for( 'static',filename='js/bootstrap.js') }}"></script>
  </body>

</html>
