{% extends "base.html" %}
{% block title %}
My Homework
{% endblock %}

{% block bodycontent %}
<h2><p class="text-center">My Homework</p></h2>

{% if incomplete.count() > 0 %}
<b>Incomplete:</b><br><br>

{% for homework in incomplete %}
<div class="col-md-2">
    <a href="/viewhw/{{homework['_id']}}"><button class="btn btn-default">View</button></a>
    <br>
</div>
<div class="col-md-10">
    <!-- always show this stuff -->
    Title: {{homework['title']}} <br>
    Subject: {{homework['subject']}} <br>
    Tags: {{homework['tags_string']}}<br>
    Posted: {{homework['date']}}<br>
    Due: {{homework['due']}}<br>
    Assignment: {{homework['description']}}<br>
    <!--Status: {{homework['status']}}<br>-->
    <br>
</div>
{% endfor %}
{% endif %}

{% if inprogress.count() > 0 %}
<b>In Progress:</b><br><br>

{% for homework in inprogress %}
<div class="col-md-2">
    <a href="/viewhw/{{homework['_id']}}"><button class="btn btn-default">View</button></a>
    <br>
</div>
<div class="col-md-10">
    <!-- always show this stuff -->
    Title: {{homework['title']}} <br>
    Subject: {{homework['subject']}} <br>
    Tags: {{homework['tags_string']}}<br>
    Posted: {{homework['date']}}<br>
    Due: {{homework['due']}}<br>
    Assignment: {{homework['description']}}<br>
    Assigned to: {{homework['assignedTo']}}
    <br>
</div>
{% endfor %}
{% endif %}

{% if completed.count() > 0 %}
<b>Complete:</b><br><br>

{% for homework in completed %}
<div class="col-md-2">
    <a href="/viewhw/{{homework['_id']}}"><button class="btn btn-default">View</button></a>
    <br>
</div>
<div class="col-md-10">
    <!-- always show this stuff -->
    Title: {{homework['title']}} <br>
    Subject: {{homework['subject']}} <br>
    Tags: {{homework['tags_string']}}<br>
    Posted: {{homework['date']}}<br>
    Due: {{homework['due']}}<br>
    Assignment: {{homework['description']}}<br>
    <br>
</div>
{% endfor %}
{% endif %}



{% endblock %}
