{% extends "base.html" %}
{% block title %}
My Recommendations
{% endblock %}

{% block bodycontent %}
<h2><p class="text-center">My Recomendations</p></h2>
<br>
<div class="panel panel-default">
  <br>
  <div class="container-fluid">
    {% for homework in homeworks %}
    {% if homework['poster'] != user and homework['status'] == "incomplete" %}
    <div class="row-fluid">
      <div class="panel panel-info">
	<div class="panel-heading">
	  <h3 class="panel-title">{{homework['title']}}</h3>
	</div>
	<div class="panel-body">
	  <div class="col-md-2">
	    <br>
	    <a href="/viewhw/{{homework['_id']}}"><button class="btn btn-default">View</button></a>
	    <br>
	  </div>
	  <div class="col-md-10">
	    Subject: {{homework['subject']}} <br>
	    Posted by: {{homework['poster']}}<br>
	    Posted on: {{homework['date']}}<br>
	    Due: {{homework['due']}}<br>
	    Assignment: {{homework['description']}}<br><br>
	    <br>
	  </div>
	</div>
	{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
