{% extends "base.html" %}
{% block title %}
Profile
{% endblock %}

{% block bodycontent %}

<div class="page-header">
  <h1><p class="text-center">{{user['name']}}'s Profile</p></h1>
</div>
<form method="POST">
<div class="container-fluid">
  <div class="row">
      <h2><p class="text-center">Name: <b>{{user['name']}}</b></p></h2>
      <h2><p class="text-center">Username: <b>{{user['user']}}</b></p></h2>
      <h3><p class="text-center">Bio: <b>{{bio}}</b></p></h3>
      <h3><p class="text-center">Overall rating: <b>{{rating}}%</b></p></h3>
      <h3><p class="text-center">Homeworks reviewed: <b>{{user['completed']}}</b></p></h3>
  </div>
</div>
</form>

{% endblock %}

<div class="row">
  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">.col-md-4</div>
</div>
