{% extends "base.html" %}
{% block title %}
Profile
{% endblock %}

{% block bodycontent %}
      <h2><p class="text-center">{{name}}'s Profile</p></h2>
      <h4><p class="text-center">Name: <b>{{name}}</b></p></h4>
      <h4><p class="text-center">Username: <b>{{username}}</b></p></h4>
      <h4><p class="text-center">Change password</p></h4>
      <h4><p class="text-center">Picture</p></h4>
      <h4><p class="text-center">Bio</p></h4>
      <h4><p class="text-center">Subject rankings</p></h4>
      <h4><p class="text-center">Overall rating</p></h4>
      <h4><p class="text-center">Homeworks reviewed</p></h4>
{% endblock %}
