<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html lang="en">

  <head>

    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">

    <style type="text/css">
      body { background: #8cfee2;}
    </style>

    <title>Welcome</title>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/welcome">HWelpr</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/addhw">Add HW</a></li>
            <li><a href="/myhw">My HW</a></li>
	    <li><a href="/myrecs">My Recs</a></li>
	    <li><a href="/search">Search</a></li>
	    <p class="navbar-text">Logged in as {{ session['username'] }}</p>
	    <li><a href="/">LOG OUT</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid" style="max-width:730px;">
      <h2><p class="text-center">Look for homework to help:</p></h2>
      <p class="text-center"><input type="submit" name="b" class="btn btn-default" value="Search"></p>
    </div>
    <script src="js/bootstrap.min.js"></script>
  </body>

</html>
