{% extends "base.html" %}
{% block title %}
{{idnum}}
{% endblock %}

{% block bodycontent %}
<h2><p class="text-center">{{homework['title']}}</p></h2>


<br><br>
Title: {{homework['title']}}<br>
Subject: {{homework['subject']}} <br>
Tagged: {{homework['tags_string']}}<br><br>
Posted by: {{homework['poster']}}<br>
Posted on: {{homework['date']}}<br>
Due: {{homework['due']}}<br><br>
Assignment: {{homework['description']}}<br>
Initial Work: {{homework['work']}}<br><br>


<!-- complete -->
{% if homework['status'] == "complete" %}
Status: complete <br><br>
Completed By: {{homework['assignedTo']}}<br>
Their Work: {{homework['help']}}<br>

<!-- in progress -->
{% elif homework['status'] == "in progress" %}
Status: in progress<br>

<!--assigned to you-->
<!-- PUT UPLOAD METHOD HERE-->
{% if homework['assignedTo'] == user %}
Claimed by: you!
<br><br>
<form method="POST">
  <textarea class="form-control" name="help" rows="10">Put your suggestions here</textarea><br>
  <input type="submit" name="b" class="btn btn-default" value="Submit">

  <!--assigned to someone else-->
  {% else %}
  Claimed by: {{homework['assignedTo']}}<br>
  {% endif %}

  <!--incomplete-->
  {% else %}
  Status: incomplete
  <br>
  <br>
  <a href="/delete/{{homework['_id']}}"><button class="btn btn-default">Delete</button></a>

  <!--claim button-->
  {% if homework['poster'] != user %}
  <br><br>
  <form role="form" class="form" method="POST">
    <input type="submit" name="b" class="btn btn-default" value="Claim">
  </form>
  {% endif %}

  {% endif %}



  {% endblock %}
